[user]
	name = gun
	email = gungungggun@gmail.com
[url "https://"]
	insteadOf = git://
[core]
	autoCRLF = false
    excludesfile = ~/.gitignore_global
[alias]
    lg = log --graph --oneline
[ghq]
	root = ~/go/src
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
